body {
  background-color: #213555;
}
h1 {
  color: #f0f0f0;
  text-align: center;
  font-size: 500%;
  font-weight: bold;
  background-color: #4f709c;
  margin: 10px auto;
  margin-top: 30px;
  width: 40vw;
  padding: 5px;
  border: 0.2em solid #111c2e;
  font-family: "Cormorant Garamond", serif;
  transition: all 0.2s;
}
h1:hover{
  color: #111c2e;
  scale: 1.1;
  box-shadow: 0px 0px 10px#09101a;
  font-size: 400%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5%;
}
.card {
  width: 23vw;
  height: 50vh;
  background-color: #dcc176;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 0.3em solid #8a7a4f;
  box-shadow: 0px 0px 10px;
  margin: 20px auto;
  transition: all 0.2s;
}
.card:hover {
  background-color: #6e613d;
  transform: scale(0.9);
  border: #6e613d;
  animation: pulse 3s infinite linear;
}
@keyframes pulse {
  0% {
    transform: scale(1.03);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}
.card-image {
  width: 300px;
  height: 300px;
  transform: all 0.5s;
}
.card-image:hover {
  animation: wiggle 2s infinite linear;
}
@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.card-desc {
  font-family: "PT Sans Narrow", sans-serif;
}
@media screen and (max-width: 1200px){
  .card {
    width: 45%;
  }
  h1 {
    width: 45%;
  }
}
@media screen and (max-width: 800px){
  .card {
    width: 80%;
  }
  h1 {
    width: 80%;
  }
}


